{% extends "layouts/base.html" %}

{% block title %} Samples {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Samples</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Samples</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>All Samples</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    {% if latest_sample_list %}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>title</th>
                                                <th>sample type</th>
                                                <th>date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sample_ in latest_sample_list %}
                                            <tr>
                                                <th scope="row">{{sample_.id}}</th>
                                                <td><a href="/samples/{{ sample_.id }}/">{{ sample_.title }}</a></td>
                                                <td>{{ sample_.sample_type.name }}</td>
                                                <td>{{ sample_.pub_date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p>No samples are available.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Upload sample</h5>
                            </div>
                            <div class="card-block">
                                <p>"Here you may upload your samples."
                                </p>

                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if sample_types %}
                                    <div class="form-group">
                                        <label for="sample_type">Sample type</label>
                                        <select id="sample_type" class="mb-3 form-control">
                                                {% for sample_type_ in sample_types %}
                                                    <option value="{{ sample_type_.id }}">{{ sample_type_.title }}</option>
                                                {% endfor %}
                                        </select>
                                        <small id="sampleTypeHelp" class="form-text text-muted">Specify sample type.</small>
                                    </div>
                                    {% else %}
                                    <p>No sample sample types</p>
                                    {% endif %}
                                    <input type="file" name="myfile">
                                    <button type="submit">Upload sample data</button>
                                </form>

                                {% if uploaded_file_url %}
                                <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}